{# templates/informations.html.twig #}

{% include 'navbar.html.twig' %} 

<!DOCTYPE html>
<html>
<head>
    <title>Mes informations

    </title>
</head>
<body>
    <h1>Informations du Client</h1>
    <p><strong>Nom:</strong> {{ nom }}</p>
    <p><strong>Prénom:</strong> {{ prenom }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Téléphone:</strong> {{ telephone }}</p>
    <p><strong>Mot de passe:</strong> {{ motdepasse }}</p>
</body>

<div class="col-md-6">
    
    <ul class="list-group">
        
        <li class="list-group-item"><i class="fas fa-list-ul mr-2"></i> <a href="#">Ma liste d'envie</a></li>
        <li class="list-group-item"><i class="fas fa-history mr-2"></i> <a href="#">Historique de mes Commandes</a></li>
        <li class="list-group-item"><i class="fas fa-file-invoice mr-2"></i> <a href="#">Mes Factures</a></li>
        <li class="list-group-item"><i class="fas fa-search mr-2"></i> <a href="#">Consulter mes Devis</a></li>

    </ul>
</div>

<a href="{{ path('deconnexion') }}" class="btn btn-outline-secondary" style="margin-left: 500px;">Déconnexion</a>

</html>
