{# templates/informations.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Informations du Clientt
        
    </title>
</head>
<body>
    <h1>Informations du Client</h1>
    <p><strong>Nom:</strong> {{ nom }}</p>
    <p><strong>Prénom:</strong> {{ prenom }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Téléphone:</strong> {{ telephone }}</p>
    <p><strong>Mot de passe:</strong> {{ motdepasse }}</p>
</body>
</html>
