{% extends 'base.html.twig' %}

{% block body %}
    <h1>Informations du client</h1>
    <table border="1">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Mot de passe</th>
        </tr>
        <tr>
            <td>{{ client.getNom() }}</td>
            <td>{{ client.getPrenom() }}</td>
            <td>{{ client.getEmail() }}</td>
            <td>{{ client.getTelephone() }}</td>
            <td>{{ client.getMotdepasse() }}</td>
        </tr>
    </table>
{% endblock %}
