{% include 'navbar.html.twig' %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma liste d'envies</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center mb-4">Ma liste d'envies</h1>
                {% if isEmpty %}
                    <p>Votre liste d'envies est vide.</p>
                {% else %}
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Produit</th>
                                <th scope="col">Description</th>
                                <th scope="col">Prix</th>
                                <th scope="col">Quantité</th> 
                            </tr>
                        </thead>
                        <tbody>
                            {% for listedEnvie in listedEnvies %}
                                <tr>
                                    <td>{{ listedEnvie.getIdproduit().getNom() }}</td>
                                    <td>{{ listedEnvie.getIdproduit().getDescription() }}</td>
                                    <td>{{ listedEnvie.getIdproduit().getPrix() }}</td>
                                    <td>{{ listedEnvie.getQuantite() }}</td>
                                    <td>
                                        <form action="{{ path('ajouter', {'id': listedEnvie.getIdproduit().getId()}) }}" method="post"> 
                                            <button type="submit" class="btn btn-primary">Transferer le produit </button>
                                        </form>
                                        <form action="{{ path('supprimer_produit_liste_envies', {'id': listedEnvie.getIdproduit().getId()}) }}" method="post"> 
                                            <button type="submit" class="btn btn-danger">Supprimer le produit </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
