{% block body %}
    {% include 'navbar.html.twig' %} 

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Produits</title>
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}"> 
    </head>

    <body class="bg-dark">

        <div class="container">
            <div class="row">
                {% for produit in produits %}
                    <div class="col-md-4">
                        <div class="card">
                            <img src="{{ asset('images/acier.jpg') }}" class="card-img-top" alt="{{ produit.nom }}">
                            <div class="card-body">
                                <h5 class="card-title"> Nom du produit : {{ produit.nom }} 6 M</h5>
                                <h5 class="card-title"> Masse lineaire : {{ produit.masseLineaireKgMetre}}</h5>
                                
                                <h5 class="card-title">Remise de {{ produit.remise }} %</h5>
                              
                                <p id="prixProduit" class="card-text">Prix du produit <span id="prixInitial">{{ produit.prix }}</span> € ttc</p>
                                
                                
                                </h6>

                                {% if app.session.get('client_id') %}
    <form action="{{ path('ajouter_au_panier', {'id': produit.id}) }}" method="post"> 
        <input type="number" name="quantite" id="quantite" value="1" min="1" class="form-control">
        <h6> Quantité
            <div class="container mt-5">
                <div class="row">
                    <div class="col">
                      <label for="longueur">Choisissez votre longueur:</label>
                      <div class="btn-group-vertical" role="group" aria-label="Choix de longueur">
                        <button type="button" class="btn btn-secondary" onclick="updatePrice(1)">1 mètre</button>
                        <!-- Modifier l'appel à la fonction pour mettre à jour le prix fois 2 -->
                        <button type="button" class="btn btn-secondary" onclick="updatePrice(2)">2 mètres</button>
                        <button type="button" class="btn btn-secondary" onclick="updatePrice(3)">3 mètres</button>
                        <button type="button" class="btn btn-secondary" onclick="updatePrice(4)">4 mètres</button>
                        <button type="button" class="btn btn-secondary" onclick="updatePrice(5)">5 mètres</button>
                        <button type="button" class="btn btn-secondary" onclick="updatePrice(6)">6 mètres</button>
                        <button type="button" class="btn btn-secondary" onclick="showCustomLengthInput()">Sur mesure</button>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row" id="customLengthInput" style="display: none;">
                    <div class="col">
                      <label for="longueur">Longueur (en cm) :</label>
                      <input type="number" id="longueur" name="longueur" class="form-control" min="50" max="600" step="1">
                    </div>
                  </div>
                  
                  <script>
                    function showLongueurInput() {
                      document.getElementById('customLengthInput').style.display = 'none';
                    }
                    
                    function showCustomLengthInput() {
                      document.getElementById('customLengthInput').style.display = 'block';
                    }

                    // Récupérez le prix initial du produit
                var prixInitial = parseFloat(document.getElementById('prixInitial').textContent);

                // Mettez à jour le prix du produit en fonction de la longueur choisie
                function updatePrice(longueur) {
                // Multipliez le prix initial par la longueur choisie
                var prixTotal = prixInitial * longueur;
                // Si la longueur choisie est 2, multipliez le prix par 2
                if (longueur === 2) {
                    prixTotal *= 2;
                }
                // Mettez à jour l'élément d'affichage du prix
                document.getElementById('prixProduit').innerHTML = "Prix du produit <span id='prixInitial'>" + prixTotal + "</span> € ttc";
                }

                // Mettez à jour le prix du produit en fonction de la longueur personnalisée
                function updateCustomPrice(longueur) {
                var prixTotal = prixInitial * longueur;
                document.getElementById('prixProduit').innerHTML = "Prix du produit <span id='prixInitial'>" + prixTotal + "</span> € ttc";
                }
                                </script>
                  
              </div>






        <button type="submit" class="btn btn-primary">Ajouter au panier</button>

    </form>
    <br>
    <br>

    <form action="{{ path('ajouter_a_la_listedenvie', {'id': produit.id}) }}" method="post"> 
        <button type="submit" class="btn btn-primary">Ajouter à la liste d'envies</button>
    </form>
{% else %}
    <p>Veuillez vous connecter pour ajouter des produits au panier et à la liste d'envies.</p>
    <a href="{{ path('verification') }}" class="btn btn-primary">
        <i ></i> Connexion
    </a>
    
{% endif %}

                                
                                

                            </div>
                        </div>
                    </div>

                    
                {% endfor %}
            </div>
        </div>


        {% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
{% endfor %}

<div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    {% for flashMessage in app.flashes('error') %}
        <div>{{ flashMessag }}</div>
    {% endfor %}
</div>

        <footer>
            {% include 'footer.html.twig' %} 
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-eEZUnKUVEMrZqDfFZzSQxlJvK1E21PJoQx9CK2qxBn3x4I5QVbFqCr7GJ3DdP3Z" crossorigin="anonymous"></script>
    </body>
    </html>

    

{% endblock %}
